@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1200px;
}

#image{
 
    background-image: url(/images/palao.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 1/.66;
    animation: changeImage 12s ease-in-out infinite;
}

@keyframes changeImage {
    25%{
        background-image: url(/images/biryani.jpg);
    }
    50%{
        background-image: url(/images/nihari.jpg);
    }
    75%{
        background-image: url(/images/palao.jpg);
    }
    100%{
        background-image: url(/images/sajji.jpg);
    }
}

